@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.card_location {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: grey;
    margin-bottom: 2em;
    flex: 0 1 24%;
    border-style: solid;
    border-color: white;
    font-size: .5cm;;
  }
  
  .card-content {
    padding: .5em;
  }
  
  .card_content_location h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: black;
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
    font-weight: bold;
  }
  
  .content-petname {
    color: darkslategrey;
  }
  
  .card_location button {
    background-color: lightgrey;
    border: solid black;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 7%;
    margin-bottom: 2%;
    color: black;
    font-family: Architects Daughter, sans-serif;
    padding-right: 4%;
    padding-left: 4%;
   
  }
  
  .card_location button:hover {
    background-color: tan;
  }
  .card-locationname {
     color: tan;
    
  }

