@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    background-color: black;
    font-family: Architects Daughter, sans-serif;
}

.logo_navbar {
    max-height: 2cm;
    max-width: 2cm;
    margin-left: 20%;
  margin-bottom: -7.3%;

}

.main_zoo {
   border-style: solid;
   border-color: grey;
   margin-left: 10%;
   margin-right: 10%;
}
