@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

h1 {
    font-family: Architects Daughter, sans-serif;
    font-size: 1.5cm;
    text-align: center;
    color:tan;
}

.zoo-adventures {
    border-style: solid;
    border-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    font-family: Architects Daughter, sans-serif;
    font-size: 1cm;
    text-align: center;
    color: tan;
}

.login_fieldset {
    text-align: center;
    margin-left:30%;
    margin-right:30%;
    color:white;
}

.register_link {
    text-align: center;
    font-family:  Architects Daughter, sans-serif;
    color: white;
   font-weight: 700;
    margin-top: 2%;
}

.register-link {
    color: white;
}

a:hover {
color: tan;
}

.email_input {
    font-size: .5cm;
    font-family:  Architects Daughter, sans-serif;
}

.logo {
    max-width: 4cm;
    max-height: 4cm;
    margin-left: 25%;
    margin-bottom: -10%
}

.sign_in {
    background-color: grey;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Architects Daughter, sans-serif;
}

.please_register {
    font-size: 1.2cm;
    font-family: Architects Daughter, sans-serif;
    border-style: solid;
    border-left-color: white;
    border-right-color: tan;
    border-top-color: grey;
    border-bottom-color: rgb(141, 105, 57);
    border-width: .3cm;
}

.first_name {
    color: white;
    font-family: Architects Daughter, sans-serif;

}

.last_name {
    color: white;
    font-family: Architects Daughter, sans-serif;
}

.email_address {
    color: white;
    font-family: Architects Daughter, sans-serif;
}

.form_register {
    margin-left: 30%;
    margin-right: 30%;
}

.create_account {
    background-color: grey;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Architects Daughter, sans-serif;
    font-size: .4cm;
}

