@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

h1 {
    font-family: Architects Daughter, sans-serif;
    font-size: 1.5cm;
    text-align: center;
    color:tan;
}

h2 {
    font-family: Architects Daughter, sans-serif;
    font-size: 1cm;
    text-align: center;
    color: tan;
}

.login_fieldset {
    text-align: center;
    margin-left:30%;
    margin-right:30%;
    color:white;
}

.register_link {
    text-align: center;
    font-family:  Architects Daughter, sans-serif;
    color: white;
}

.register-link {
    color: white;
}

a:hover {
color: tan;
}

.email_input {
    font-size: .5cm;
    font-family:  Architects Daughter, sans-serif;
}

.logo {
    max-width: 4cm;
    max-height: 4cm;
    margin-left: 25%;
    margin-bottom: -10%
}

.container--login {
    background-color: black;;
}
